<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>医生可预约容量列表</title>
    <script type="text/javascript" src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script type="text/javascript" src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!--link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" /-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="/static/css/register.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">

    <nav id="headerer"></nav>

    <!--最上面的导航栏集成于.headerer-->


    <div style="display:none;">
      <input id="cou_id_holder" value="{{cou.id}}" >
    </div>

    <!--  这个page-wrapper是右边   -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header" style="color: #F0F0F0;">
                挂号信息浏览
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a onclick="back()">科室信息</a></li>
                <li class="active">医生容量</li>
            </ol>
        </div>

        <!--这是我们操作的主题框-->
        <div id="page-inner">
            <!--新增课程表格-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">医生可预约容量:</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="capacity_for_doc">
                                {% for to in tobeRs %}
                                    <form method="post" action="/OnlineRegister/show_reservation_order/">
                                        <label>{{ to.doctor_id.name }}:{{ to.capacity }}</label>
                                        <input name="tobeR_id" value="{{ to.id }}" style="display: none">
                                        <input name="user_id" value="{{ user_id }}" style="display: none">
                                        <button type="submit">挂号</button>
                                    </form>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
</div>
</body>
<script>
     $.get('/OnlineRegister/show_user_title/',
        function(data){
            console.debug("data")
            $('#headerer').replaceWith(data);
        });

     function back() {
         window.history.back();
     }

</script>


</html>