<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>科室列表</title>
    <script type="text/javascript" src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script type="text/javascript" src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!--link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" /-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="/static/css/register.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav id="headerer"></nav>

    
        <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header" style="color: #F0F0F0;">
                挂号信息浏览
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a href="/OnlineRegister/show_hos_list/">医院信息</a></li>
                <li class="active">科室信息</li>
            </ol>
        </div>
        <input style="display: none" id="hos_id_holder" value="{{ hos.id }}">

        <!--这是我们操作的主题框-->
        <div id="page-inner">
            <!--新增课程表格-->
           <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">科室列表</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label >一级科室：</label>
                                </div>
                                <div class="form-group">
                                    <!--label class="col-md-2 control-label">一级科室：</label-->
                                    <div class="col-md-12" id="dep1">
                                         {% for dep1 in departments_1 %}
                                            <label onclick="show_dep2({{ dep1.code }})">{{ dep1.code }}:{{ dep1.name }}</label>
                                         {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>二级科室：</label>
                                </div>
                                <div class="form-group">
                                    <!--label class="col-md-2 control-label">二级科室：</label-->
                                    <div class="col-md-10" id="dep2">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">剩余容量</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div id="capacity_for_dep">

                                </div>
                                <br>
                                <div id="capacity_for_doc">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /. PAGE INNER  -->
    </div>
    </div>
    </div>
</body>


    <script>
        $.get('/OnlineRegister/show_user_title/',
        function(data){
            console.debug("data")
            $('#headerer').replaceWith(data);
        });

        function show_dep2(p) {

            $.post("/OnlineRegister/show_dep2/",
                {
                    dep1: p
                },
        	    function(data) {
                    $('#dep2').replaceWith(data);
                });

        }

        function show_capacity_for_dep(p) {
            var hos_id = $('#hos_id_holder').val();

            $.post("/OnlineRegister/show_capacity_for_dep/",
                {
                    dep2_id: p,
                    hos_id: hos_id
                },
        	    function(data) {
                    $('#capacity_for_dep').replaceWith(data);
                });

        }


    </script>
</html>