<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>预约信息维护-已预约</title>
    <script type="text/javascript" src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script type="text/javascript" src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!--link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" /-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="/static/css/register.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'build/kalendae.css' %}" type="text/css">
    <script type='text/javascript' src="{% static 'build/kalendae.standalone.js' %}"></script>
    <!-- 这里不引入min.js是因为在后面要修改js -->

</head>
<body>
<div id="wrapper">
    <nav id="headerer"></nav>
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header" style="color: #F0F0F0;">
                预约信息维护
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a onclick="back()">已预约信息</a></li>
                <li class="active">已预约处理</li>
            </ol>
        </div>

        <!--这是我们操作的主题框-->
        <div id="page-inner">

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">科室列表</div>
                            </div>
                        </div>
                        <div class="panel-body">
                                <div id="reservation_list">
                                    {% for re in res %}
                                        <label>挂号人：{{ re.user_id.name }}，医生：{{ re.doctor_id.name }}，应就诊日期：{{ re.date|date:"Y-m-d" }}</label>
                                        <button type="submit" onclick="jiuZhen({{ re.id }})">就诊</button>
                                        <button type="submit" onclick="del_reservation({{ re.id }})">取消</button>
                                    {% endfor %}
                                </div>
                                  </div>
                </div>
            </div>
        </div>
        </div>
        </div>

</body>

<!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
     $.get('/OnlineRegister/show_user_title/',
        function(data){
            console.debug("data")
            $('#headerer').replaceWith(data);
        });

     function back() {
         window.history.back();
     }
    function jiuZhen(re_id) {
        window.location.href = "/OnlineRegister/jiuZhen/"+re_id+"/";
    }
    function del_reservation(re_id) {
        window.location.href = "/OnlineRegister/del_reservation_for_admin/"+re_id+"/";
    }
</script>

</html>