<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>预约订单详情</title>
    <script type="text/javascript" src="/static/4assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="/static/4assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script type="text/javascript" src="/static/4assets/js/jquery.metisMenu.js"></script>
    <!-- Bootstrap Styles-->
    <link href="/static/4assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/static/4assets/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!--link href="/static/css/jiaowu.css" type="text/css" rel="stylesheet" /-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="/static/css/register.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
    <nav id="headerer"></nav>
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header" style="color: #F0F0F0;">
                挂号
            </h1>
            <!--可选择返回的不知道叫什么的东西-->
            <ol class="breadcrumb">
                <li><a onclick="back()">医生容量</a></li>
                <li class="active">预约信息</li>
            </ol>
        </div>

        <!--这是我们操作的主题框-->
        <div id="page-inner">

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">预约订单确认</div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="/OnlineRegister/creat_reservation_order/">
                            <label>预约订单详情：</label>
                            <br>
                            <label>挂号者姓名：{{ user.name }}</label><input name="user_id" value="{{user.id}}" style="display: none">
                            <br>
                            <label>身份证号码：{{ user.id_number }}</label>
                            <br>
                            <label>手机号：{{ user.phone_number }}</label>
                            <br>

                            <label>医院：{{ hos.name }}</label>
                            <br>
                            <label>科室：{{ dep1.name }},{{ dep2.name }}</label>
                            <br>
                            <label>医生：{{ doc.name }}({{ doc.position }})</label><input name="doc_id" value="{{doc.id}}" style="display: none">
                            <br>
                                <label>应就诊日期：<td>{{ toBeRegistered.date|date:"Y-m-d" }}</td></label><input name="date" value="{{ toBeRegistered.date|date:"Y-m-d H:i:s" }}" style="display: none">
                                <input name="toBeRegistered_id" value="{{toBeRegistered.id}}" style="display: none">
                            <br>

                            <br>
                            <button type="submit">提交订单</button>
                            </form>
                            </div>
                </div>
            </div>
        </div>
        </div>
    </div></div>
</body>
<script>
     $.get('/OnlineRegister/show_user_title/',
        function(data){
            console.debug("data")
            $('#headerer').replaceWith(data);
        });

     function back() {
         window.history.back();
     }

</script>
</html>